In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../Grunddatein/OffersData.csv')
asins2 = pd.read_csv('../Grunddatein/ASINS.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603268 entries, 0 to 6603267
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   asin             object
 2   price            float64
 3   currency         object
 4   time             object
 5   crawlTime        object
 6   condition        object
 7   sellerName       object
 8   sellerId         object
 9   sellerbewertung  object
 10  seller_sterne    object
 11  lieferdatum      object
 12  lieferpreis      object
 13  lieferung_durch  object
 14  ranking          int64
 15  buyBoxWinner     object
 16  numberOfSellers  int64
 17  trigByReactive   object
dtypes: float64(1), int64(3), object(14)
memory usage: 906.8+ MB

In [3]:
# Count the null values in each column of the DataFrame
null_values_count_per_column = df.isnull().sum()

# Print the number of null values for each column
print("Number of null values per column in df:")
print(null_values_count_per_column)

Number of null values per column in df:
id                       0
asin                     0
price                   12
currency                12
time                     0
crawlTime                0
condition               10
sellerName               0
sellerId                 0
sellerbewertung    1588216
seller_sterne      1629242
lieferdatum         208623
lieferpreis         208623
lieferung_durch         10
ranking                  0
buyBoxWinner             0
numberOfSellers          0
trigByReactive           0
dtype: int64

In [4]:
print("Length of the DataFrame:", df.shape[0])
num_true = (df['buyBoxWinner'] == True).sum()
print(f"The Number of Offers winning the BuyBox is {num_true}")
distinct_asins = df['asin'].unique()
asins_complete = asins2['id'].unique()
print("Number of distinct asins:", len(distinct_asins))
set_distinct_asins = set(distinct_asins)
set_asins_complete = set(asins_complete)

asins_not_in_both = set_distinct_asins.symmetric_difference(set_asins_complete)
print("ASINs not present in both:", asins_not_in_both)

Length of the DataFrame: 6603268
The Number of Offers winning the BuyBox is 0
Number of distinct asins: 995
ASINs not present in both: {'B09W8GB7KY', 'B09MY48N93', 'B07H4FRQ4T', 'B09L6247P8', 'B0B2RRZLY6'}

In [5]:
# Assuming you have a DataFrame named 'df'
random_rows = df.sample(n=5)

# Print the random rows
random_rows
random_rows.to_csv('random_rows.csv', index=False)

In [6]:
random_rows

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
3478749,3820432,B079N4MPFR,119.99,€,2023-04-08-22,2023-04-08 22:09:18.609318,Neu,"Spielquelle, Preise inkl. MwSt.",A2ODMQ2BK9LC9C,(1009 Bewertungen) 95 % positiv in ...,4.5 von 5,19. - 26. April,28€,"Spielquelle, Preise inkl. MwSt.",28,f,35,f
4352374,4694057,B085CNXD8Y,83.46,€,2023-04-13-3,2023-04-13 03:47:08.478564,Gebraucht-Sehrgut,Amazon Warehouse,Amazon-Warehouse,NaN,NaN,"Montag, 17. April",GRATIS,Amazon,11,f,16,f
5228458,5570141,B09BNVCY6R,235.93,€,2023-04-17-9,2023-04-17 09:17:49.963464,Neu,Das älteste Spielwarengeschäft Deutschlands ge...,A3ENYAAN4E4G7D,(28843 Bewertungen) 96 % positiv in...,5 von 5,"Mittwoch, 19. April","17,99 €",Das älteste Spielwarengeschäft Deutschlands ge...,28,f,90,f
2643485,2985168,B01NC2S2BD,119.20,€,2023-04-04-21,2023-04-04 21:04:06.995848,Neu,eibabo Deutschland,A2RQ26FRS9UTKN,(10217 Bewertungen) 95 % positiv üb...,4.5 von 5,19. - 25. April,"9,90 €",eibabo Deutschland,16,f,45,f
2356641,2698324,B0002HOS7M,101.83,€,2023-04-03-11,2023-04-03 11:10:50.355402,Neu,MassaMarkt B.V.,A26NJ924EHE6RS,(184 Bewertungen) 76 % positiv in d...,4 von 5,6. - 13. April,"8,75 €",MassaMarkt B.V.,20,f,36,f

## Wie viele Angebote sind von Amazon

In [7]:
# Filter the DataFrame to keep rows where 'sellerName' is 'Amazon', 'Amazon Warehouse', 'Amazon US', 'Amazon UK'
amazon_sellers_df = df[df['sellerName'].isin(['amazon', 'Amazon Warehouse ', 'Amazon US', 'Amazon', 'Amazon UK'])]

# Print the length of the Amazon sellers DataFrame
print("Length of Amazon sellers DataFrame:", len(amazon_sellers_df))

Length of Amazon sellers DataFrame: 1586819

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603268 entries, 0 to 6603267
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   asin             object
 2   price            float64
 3   currency         object
 4   time             object
 5   crawlTime        object
 6   condition        object
 7   sellerName       object
 8   sellerId         object
 9   sellerbewertung  object
 10  seller_sterne    object
 11  lieferdatum      object
 12  lieferpreis      object
 13  lieferung_durch  object
 14  ranking          int64
 15  buyBoxWinner     object
 16  numberOfSellers  int64
 17  trigByReactive   object
dtypes: float64(1), int64(3), object(14)
memory usage: 906.8+ MB

In [9]:
# Assuming you have a DataFrame named 'df1'

# Count the null values in each column of the DataFrame
null_values_count_per_column = df.isnull().sum()

# Print the number of null values for each column
print("Number of null values per column in df1:")
print(null_values_count_per_column)

Number of null values per column in df1:
id                       0
asin                     0
price                   12
currency                12
time                     0
crawlTime                0
condition               10
sellerName               0
sellerId                 0
sellerbewertung    1588216
seller_sterne      1629242
lieferdatum         208623
lieferpreis         208623
lieferung_durch         10
ranking                  0
buyBoxWinner             0
numberOfSellers          0
trigByReactive           0
dtype: int64

## Null Values for lieferdatum und lieferpreis

In [29]:
# Create a sub-dataframe where 'lieferpreis' and 'lieferdatum' are null
deliver_information_missing_df = df[(df['lieferpreis'].isnull()) & (df['lieferdatum'].isnull())]

# Get distinct values for the 'sellerName' column in the sub-dataframe
distinct_seller_names = deliver_information_missing_df['sellerName'].unique()

# Print the distinct seller names
print("Distinct seller names:", distinct_seller_names)

Distinct seller names: ['amazon' 'SCHNELL & GÜNSTIG' 'buyhair' 'BWBahn'
 'Winter - der Familienladen' 'redealer' 'Amazon US' 'myToys-de GmbH'
 'buchrakete' 'Robo294' 'dj_tom' 'Mister Linse' 'Kinder&Co'
 'Tienda Siglo XXI' 'Peters Modellgarage' 'GIGANTECH' 'Daddelshop'
 'Time-Pieces by Juwelier Braun' 'LSB24' 'FaSt Handel'
 'Friseurbedarf-Peters' 'AL Telekommunikation' 'fotole' 'Ben & Ben'
 'Happy Baby Hamm' 'rudi79268, Das Fachgeschäft e.K.'
 'ALLETASCHEN Bartelsmeier' 'Schulranzen4Kids'
 'Modehaus Heinze Online-Shop' 'Cstore.' 'PC-KING'
 'füllermaus-  büchermaus' 'Markenschuhe-de' 'ZooMonster'
 'ROMMELSBACHER Germany' 'Railroad 2000' 'TT Recycling GmbH'
 'Amazon Warehouse ' 'hometronics24' 'druide123' 'Bürowelt-Blank'
 '*Party_Factory_Ladenburg*' 'nonsologiochiweb' 'sportmueller'
 'Ciscoauction' 'ACE-Deutschland' 'colludo Preis inkl. Mwst'
 'WestcoastComputer' 'flac Shop' 'Linsencenter 24' 'Team-Foto Etting'
 'ALLES FFO KG' 'Amazon UK' 'printer-it' 'Philipp Dase' 'modellbau.härtle'
 'Puzzles, Tools & More' 'PHD_Shop' 'FOND OF' 'my mosaik'
 'corona-net (alle Preise incl. MwSt.)' 'GETIC'
 'Bernhard Klatt (kein Ausweis MwSt möglich)' 'E-SERVIZI' 'jarotoys'
 'OHD_GmbH' 'Fahrradhoch3' 'Pollivaligeria' 'ddplus GmbH'
 'Patrick Privatanbieter' 'Okmusic-Musikfachgeschäft' 'sternapo'
 'Dahlmann GmbH' 'Voelkner' 'videorayman' 'Sonnenbrillenladen' 'L-Parts'
 'ALCUBE GMBH' 'VTN-GmbH' 'MKS Autoteile'
 'Carta Mondo, Preise inkl. MwSt.' 'ixeo' 'frisliv'
 'Inkovideo GmbH & Co. KG, alle Preise inkl. MwSt.'
 'KLH Handelsgesellschaft mbH' 'CT COOL TIME' 'Ragazzi Bags'
 'Gretamarlene' 'Stein-Garage-de' 'HolzInnsel - Preise inkl. MwSt.'
 'Mrbricksandmore' '\n                 ' 'Waldi' 'crazytrade'
 'Heymen-Tech' 'technikbilliger' 'Him & I' 'Schuh-Lounge24' 'get-next'
 'werte7' 'Travel in Style' 'Cosse GmbH' 'Internethandel und Büroservice'
 'DELALIOS' 'diktiergeraetundzubehoer' 'schulranzenwelt' 'Ranner' 'jugf'
 'GoodMiller' 'Leder2000' 'dlSPORTs  EU' 'Top-Preis-Shop' 'sporteck2000'
 'Elipo®' 'Die kleine Möhre -Baby- & Kinderbedarf-' 'Vairema' 'Luckyberg'
 'Mechatronics-Pro' 'AS-Discount' 'Ihr Brillenspezialist Reinhardt GmbH'
 'Tierzubehör Cordes' 'casadelrasoio' 'Intersport Stähle'
 'JMT-Direct Store' 'Jouería-Relojería Mínguez' 'Games2Game' 'Amazon'
 'KITSTORE' 'Toys for Fun GmbH' 'AGEM CZ' 'Happy Home Srl'
 'Spielwaren-Barth „Preise inkl. MwSt.“' 'Home Automation EU' 'belli-shop'
 'SCHEUFLERSHOP Versandkosten werden nur einmalig pro Lieferung berechnet'
 'ibonero' 'CW-SHOPPING' 'Haase Shopping e. K.' 'IT-Daheim'
 'modeherz \'Alle Preise inkl. Mwst.\'""' 'Blitz-Versand-Deutschland'
 'TZS First E Commerce' 'A-RCS GmbH' 'blue-e' 'Koffermarkt'
 'United Brands Online GmbH' 'Pollin Electronic GmbH' 'inkcompany'
 'DoremiStore' 'Solution 4YOU' 'ProComponentes' 'Computerhandlung'
 'Computerxtreme' 'CYBERIEN' 'DaJa-Computer GbR' 'price-guard'
 'Whooki GmbH' 'JOYERIA MILENIO  Offizieller Distributor' 'GIANTEX'
 'MARKETTIAMO' 'Morelenet' 'M & L         aus Deutschland' 'alyou'
 'BoraComputer' 'RUBART GmbH' 'Computer Milano' 'Modellauto18'
 'ATP Autoteile' 'E-COMMERCE EUROPE' 'rickertmanfred' 'okluge'
 'computeruniverse' 'get goods' 'WEIBO Weimar' 'Zoo Galaxie'
 'Marken-Koffer' 'Modellbau Fischer' 'Outdoor_Paradise'
 'Arcobaleno Centro Musicale' 'MIOGA Warenhandel & Service GmbH'
 'Azerty NL' 'Wolffstore_GmbH' 'Masskas' 'WERNER CHRIST GmbH'
 'aquaristicnet Babenhausen' 'Elektronik-Versand' 'iSunFun' 'Baby-max'
 'shop-ar' 'Casa Haushalt' 'SNOGARD Computer GmbH' '1Deins Computer GmbH'
 'cw-mobile' 'EliXito' 'JetztKaufen' 'Olano GmbH' 'Designhuette Store'
 'WMF Direkt' 'trendmile' 'DOMO SHOP' 'WE LOVE BAGS' 'wolfonlineshop'
 'Traumpreisfabrik' 'BetterDay®' 'Warenhandel Teubner' 'Globe Camp'
 "Neuert's" 'TECHNOINF SRLS' 'Kommerzpunkt' 'SCHREIBER + WEINERT GmbH'
 'Elternstolz' 'Ideen von A - Z' 'Büroservice VS' 'MB 2 Broliai'
 'medialand4you, Händler & Versand aus Deutschland' 'LULUBUY S.A.R.L'
 'Amor Group' 'Cartridge King Jersey Ltd' 'uShoppy' 'Toynova' 'f_b_c'
 'NeueKaufleute' 'SPIELZEUGRIESE' 'Duckdik' 'velora-shop' 'Technikprimus'
 'Sotel (AGB und Garantiebestimmungen siehe hier)' 'culladelbimbo'
 'SIA Solution' 'BDC-online' 'Blinksale, alle Preise inkl. MwSt.' 'Yeppon'
 'spassamdrucken' 'Elektro Sonderposten' 'RENPHO LIMITED' 'kustom-kult'
 'e-joker' 'syswork' 'Deltatecc GmbH' 'dieTechnik' 'Warenhaus Ebeling'
 'geniuzcom' 'RUCKSACK' 'Sam Mills Inc' 'Office Partner GmbH' 'Zizzoo'
 'Fotelcom' 'egenta' 'Sportmarkt MG' 'hardwarehasky*de' 'UEBilliger'
 'KölnRacket' 'SpecialRecreationRoom'
 'RICOO-Medientechnik, Preise inkl. MwSt.' 'Akasya Handels GmbH'
 'kaminplus Preise inkl. MwSt.' 'Walwes Europe' 'Taschen Paradies'
 'Autopartner24' 'AMA - SHOP' 'TechLead DE' 'Design Stoodio' 'VISO TRADE'
 'AmerigoStore' 'SportMarken24' "Maria's Retail Shop SRL" 'Masala Wala'
 'GetMarket' 'Mai Lifestyle' 'music world brilon_'
 'Smart Distribution Technologies' 'Contact Lenses' 'BIT-electronix'
 'MegaMobile' 'schafi-shop' 'MiniPrice Express SL' 'officeservicesrl'
 'Bautenbacher' 'Peer Online Shop' 'TREPKE'
 'duo schreib & spiel Markenshop' 'ComSternde' 'Mojekolo' 'ENWOKE'
 'Zoundhouse - Dresden' 'Bücher undCo.' 'ZAR Systems' 'LAREDO'
 'LCD & Plasma Service GmbH' 'Schuhbidu24' 'Boutikazik' 'kaijott'
 'Trekking Star' 'TradeINN' 'EURONICS XXL Vilshofen' 'Sapato-it'
 'Bijourama' 'mhch13' 'Sneakers Trend' 'nox divendo'
 'Papillote Haarshop GmbH' 'videoflunky' 'Vermegreen'
 'Modellbahnshop-Korn' 'Bekureta mobile' 'Piggyriches Kft.'
 'STEFANO TALINI' 'tjarksen music-shop' 'Music-Office & more'
 'fotomeister24' 'Lederoase' 'Martin Pecksteiner' 'Teo Shop'
 'TIBERION-SHOP' 'Brickcomplete - Rasche Lieferung!'
 'Elektro-Shop Köck GmbH' 'E-Mistero' 'StonKraft EU' 'nrsolutions'
 'Happy Home Italia' 'HAUSFELDER accessoires + reise' 'Schuhe24'
 'handelshaus-buerg' 'PAPETERIE - Mit uns macht Schule Spaß!'
 'STILORD Leder' 'OnlyStoresk' 'Photostock' '24 x 7 Verkäufer' 'inandout'
 'DASTRO ® --- Einfach. Genial. Günstig.' 'BIBCASA' 'Autodoc Shop'
 'Red Tech GmbH' 'vollfarbdrucker-de Ihre Office Experten' 'shop_moll'
 'Svanas' 'STVmedAppo' 'nicePriceIT' 'Blue Flamingo Trade CLG' 'Papyrus'
 'DL-accessories' 'DER BREU' 'Breezy Returns' 'Store-Jet Elektrohandel'
 'ERRESSE-SHOP.IT' 'Stortle' 'Cycletronic' 'evergreen computer'
 'Ankermann Computer' 'funkelstein' 'Koffer-to-go'
 'Büroservice Hübner GmbH' 'opensupplies' 'CoolSound-Superstore'
 'nierlecom' 'ai-Trading24' 'TechInn' 'WokiToo' 'TOPOS'
 'Toys World Spielwaren (Preise inkl. MwSt.)'
 'collect-it-de VEDES-Spielwaren' 'Kraina Zabawy' 'Geben tut gut Gmbh'
 'BagsOnline' 'Lieblingstasche' 'Kofferworld' 'kiddy-hits' 'FotoBravo'
 'Foto Erhardt GmbH' 'Casatec' 'Mipuu' 'Pressstart' 'Amitaly'
 'camping4you' 'it-versand•com' 'City Tienda' 'ZOOM ICI' 'TechPoint1111'
 'ITCHECK24  --  alle Preise inkl. MwSt. - Widerrufsbelehrung + AGB unter Verkäuferhilfe'
 'MUSIC STORE Professional' 'werkzeugbilligercom' 'Bilvary' 'fabian0w'
 'ZAPATERÍAS MARÍN' 'sporttrend24' 'Tropic-Shop Preise inkl. MwSt'
 'macimweb Preise inkl.  MwSt.' 'Musikhaus Kirstein GmbH' 'Keepgo Europe'
 'THEPOSAL' 'Musik Center' 'Lens2Lens' 'Songmics' 'To B To C'
 'Mondo Barista' 'KAQITEY' 'Flanco Retail' 'nero electronics'
 'racket-sports' 'PCSPEZIALIST-BONN (AGB/Widerruf)' 'tecedo'
 'sorgers-bags-and-more' 'Amz EU' 'Picher Spiel und Sport'
 'Toms-Spielzeug' 'Brand Chain GmbH'
 'myHobby24 | Ihr Freizeitspezialist für Deutschland'
 'Electropolis_Online' 'Spielwaren Eichelkraut' 'Wisol24' 'Ivomaa'
 'Montearenas' 'Music and More Store' 'MiS Toys - Preise inkl. Mwst. -'
 'Luzern' 'Toyshop Mittelrhein' 'shop-lang' 'priz24' 'Medpets'
 'AutoteileDirekt' 'Future-X DE' 'elektrotresen' 'Modefreund'
 'mein-elektro24-com' 'MARBEL FOX LTD' 'CSL-Computer'
 'RedZilla (Preise inkl. MwSt.) Impressum und AGB finden Sie unter Verkäufer-Hilfe'
 '1973citroen' 'Feiner Stein' 'Fexyshop' 'Musikhaus Hübner'
 'Heimtierbedarf Online' 'FS Onlinehandel UG'
 'Power & Handel Vertriebs-GmbH' 'GREINER GROSSHANDEL' 'idee+spiel Große'
 'LogShield' 'JTC Computer Store' 'AHR001' 'Pro Lighting e.K.'
 'Best of Electronic' 'Freizeit-Wittke GmbH' 'Prestigio Plaza'
 'tiendainformatica-de' 'limuno' 'SIAVARA' 'myGorilla'
 'Sportartikel und Spielwaren Shop' 'Buchbutler'
 'Homoeopathiefuchs Versand-Apotheke' 'babywalz' 'Wollbody' 'Medifrei'
 'Cernovia' 'MAFCOM-Marc-Anthony Flechtner'
 'MediaShop O2B (MwSt nicht ausweisbar § 25a USTG)' 'produktfabrik'
 'RoyalRapture' 'Red Cat GmbH' 'smartphotocharge1' 'HomeHome by A'
 'Coloretta' 'Foster-natur' 'BIGPHONE' 'FOTO KOESTER MUENSTER'
 'rebuy recommerce GmbH' 'Coffee Lyrics' 'IMAGEN FOTOCOLOR' 'INSTYLIO'
 'STILE IMMAGINE DIGITAL HD' 'Doppenberg meer dan keukens' 'keepdrum'
 'formbench GmbH' 'KATYs PLEC-STORE' 'AOOBYSH' 'Sonnenmeer15'
 'Animal Mood, SL' 'Buerobedarf-24' 'BestArtikel GmbH' 'Sasaf IT'
 'MeCom e.K.' 'Motostacja' 'KONTRA GmbH [KeepONTRAding]' 'ElectroSmartEU'
 'scribe' 'lobigo' 'BlumenbeckerIndustriebedarf GmbH' 'technikgross'
 'Biffidì' 'Tradomi' 'Mickslädchen \' Preis inkl. MwSt. \'""' 'DIYUCAR'
 's-buskohl' 'Trend Sportiv' 'TRONYQ' 'Leonzi Sport'
 'Das älteste Spielwarengeschäft Deutschlands gegr. 1685' 'ThysToys'
 'rarebrix' 'wlan-discount24' 'Trending Utopic' 'PAFEN'
 'CHRIST Juweliere und Uhrmacher' 'Conquest GmbH' 'Monster-Bid'
 'GREFRA-de' 'TriBeCa Shop' 'Inateck'
 'Salamander Deutschland GmbH & Co. KG' 'Sascha Becker' 'LBTrading-Shop'
 'Electronic Lichtenau' 'Those IT Guys' 'MClife22' 'Berlin Sneaker Store'
 'Möbel Jack' 'IGLM STORE DE' 'AgentOrangeShop' 'c-commerce2010'
 'Auto-Kfz-Teile' 'Miller Rock' 'TechnologyONE Germany' 'SIDCO GmbH'
 'XXL-Phones' 'Vipdomo' 'vavado' 'Modellbahnwelt 24 , Preise inkl. MwSt.'
 'Lasetzky-Shop' 'GALADOR' 'Fritz Berger GmbH'
 'Southbag - Schulranzen | Rucksäcke | Koffer' 'TRENDYKids'
 'Millennium Star' 'Hair Gallery' 'PEARL Versandhaus' 'HOBBY AKKURA'
 'TECMONDO' 'hQ.merch' 'Skydigital' 'ilando24-Shop' 'CheapSell' 'KADAX'
 'Achats-en-nord' 'E-Tarastore']

## Null Values for price and Currency.

In [8]:
## Generell Wie viele Null Values habe Ich.

In [9]:
price_sub_df = df[(df['price'].isnull())]
price_sub_df.head(12)

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
1295515,1637198,B06XD4MDVY,NaN,NaN,2023-03-29-1,2023-03-29 01:52:37.751271,Neu,computeruniverse,A1PAZ03ZCGKDLK,(6784 Bewertungen) 81 % positiv in ...,4 von 5,3. - 4. April,GRATIS,computeruniverse,4,f,28,f
2145265,2486948,B078XXW215,NaN,NaN,2023-04-02-5,2023-04-02 05:22:31.771269,Neu,egenta,A3BDERO7J567GH,(2101 Bewertungen) 84 % positiv in ...,4.5 von 5,6. - 12. April,"3,79 €",egenta,26,f,49,f
4405168,4746851,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.881955,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,1,f,17,f
4405169,4746852,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882192,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,2,f,17,f
4405170,4746853,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882421,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,3,f,17,f
4405171,4746854,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882649,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,4,f,17,f
4405172,4746855,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882878,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,5,f,17,f
4405173,4746856,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883106,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,6,f,17,f
4405174,4746857,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883334,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,7,f,17,f
4405175,4746858,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883561,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,8,f,17,f
4405176,4746859,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883789,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,9,f,17,f
4405177,4746860,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.884016,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,10,f,17,f

In [10]:
## Asin B06XD4MDVY

In [11]:
import pandas as pd

# Assuming you have a DataFrame named 'df'

# Extract the row where 'asin' is equal to 'B06XD4MDVY', 'seller_id' is equal to 'A1PAZ03ZCGKDLK', and 'id' is equal to 1637198
row_with_asin_seller_id_and_id = df[(df['asin'] == 'B06XD4MDVY') & (df['sellerId'] == 'A1PAZ03ZCGKDLK') & (df['id'] == 1637198)].iloc[0]

# Print the extracted row
row_with_asin_seller_id_and_id

id                                                           1637198
asin                                                      B06XD4MDVY
price                                                            NaN
currency                                                         NaN
time                                                    2023-03-29-1
crawlTime                                 2023-03-29 01:52:37.751271
condition                                                        Neu
sellerName                                          computeruniverse
sellerId                                              A1PAZ03ZCGKDLK
sellerbewertung               (6784 Bewertungen) 81 % positiv in ...
seller_sterne                                                4 von 5
lieferdatum                                            3. - 4. April
lieferpreis                                                   GRATIS
lieferung_durch                                     computeruniverse
ranking                                                            4
buyBoxWinner                                                       f
numberOfSellers                                                   28
trigByReactive                                                     f
Name: 1295515, dtype: object

In [12]:
# Extract rows where 'asin' is equal to 'B06XD4MDVY' and 'seller_id' is equal to 'A1PAZ03ZCGKDLK'
rows = df[(df['asin'] == 'B06XD4MDVY') & (df['sellerId'] == 'A1PAZ03ZCGKDLK') & (df['time'] == '2023-03-29-0')]

# Print the extracted rows
rows

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
1286407,1628090,B06XD4MDVY,152.44,€,2023-03-29-0,2023-03-29 00:47:30.142220,Neu,computeruniverse,A1PAZ03ZCGKDLK,(6784 Bewertungen) 81 % positiv in ...,4 von 5,1. - 3. April,GRATIS,computeruniverse,6,f,37,f

In [13]:
## Asin B078XXW215

In [21]:
import pandas as pd

# Assuming you have a DataFrame named 'df'

# Extract the row where 'asin' is equal to 'B06XD4MDVY', 'seller_id' is equal to 'A1PAZ03ZCGKDLK', and 'id' is equal to 1637198
row_with_asin_seller_id_and_id = df[(df['asin'] == 'B078XXW215') & (df['sellerId'] == 'A3BDERO7J567GH') & (df['time'] == '2023-04-02-3')]

# Print the extracted row
row_with_asin_seller_id_and_id

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
2132205,2473888,B078XXW215,185.32,€,2023-04-02-3,2023-04-02 03:08:57.610817,Neu,egenta,A3BDERO7J567GH,(2101 Bewertungen) 84 % positiv in ...,4.5 von 5,5. - 6. April,GRATIS,egenta,27,f,41,f

In [15]:
## Asin B0743BR42Y

# Assuming you have a DataFrame named 'df'

# Extract the row where 'asin' is equal to 'B06XD4MDVY', 'seller_id' is equal to 'A1PAZ03ZCGKDLK', and 'id' is equal to 1637198
row_with_asin_seller_id_and_id = df[(df['asin'] == 'B0743BR42Y') & (df['sellerId'] == 'amazon') & (df['time'] == '2023-04-13-9')]

# Print the extracted row
row_with_asin_seller_id_and_id

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
4394908,4736591,B0743BR42Y,57.38,€,2023-04-13-9,2023-04-13 09:12:57.492551,Neu,amazon,amazon,NaN,NaN,"Montag, 17. April",GRATIS,Amazon,0,t,16,f

## Null Values for Condition

In [16]:
price_sub_df = df[(df['condition'].isnull())]
price_sub_df.head(10)

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
4405168,4746851,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.881955,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,1,f,17,f
4405169,4746852,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882192,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,2,f,17,f
4405170,4746853,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882421,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,3,f,17,f
4405171,4746854,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882649,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,4,f,17,f
4405172,4746855,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.882878,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,5,f,17,f
4405173,4746856,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883106,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,6,f,17,f
4405174,4746857,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883334,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,7,f,17,f
4405175,4746858,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883561,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,8,f,17,f
4405176,4746859,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.883789,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,9,f,17,f
4405177,4746860,B0743BR42Y,NaN,NaN,2023-04-13-10,2023-04-13 10:18:44.884016,NaN,amazon,amazon,NaN,NaN,NaN,NaN,NaN,10,f,17,f

## Wie Viele Null Values habe ich für SellerBewertung und Seller_sterne

In [17]:
#sub_df = df[(df['seller_sterne'].isnull()) | (df['sellerbewertung'].isnull())]
sub_df = df[(df['seller_sterne'].isnull())]
# Create a new DataFrame with rows where 'sellerName' is 'Amazon', 'Amazon Warehouse', 'Amazon US', 'Amazon UK'
excluded_rows_df = sub_df[sub_df['sellerName'].isin(['amazon', 'Amazon Warehouse ', 'Amazon US', 'Amazon', 'Amazon UK'])]

# Exclude rows where 'sellerName' is 'Amazon' or 'Amazon Warehouse'
sub_df = sub_df[~sub_df['sellerName'].isin(['amazon', 'Amazon Warehouse ', 'Amazon US', 'Amazon', 'Amazon UK'])]

# Print the length of the updated sub-DataFrame and the excluded rows DataFrame
print("Length of updated sub-DataFrame:", len(sub_df))
print("Length of excluded rows DataFrame:", len(excluded_rows_df))

# Get distinct values for the 'sellerName' column in the sub-DataFrame
distinct_seller_names = sub_df['sellerName'].unique()


# Print the summarized length of these DataFrames
print("Summarized length of DataFrames:", len(sub_df) + len(excluded_rows_df))

distinct_seller_bewertungen = sub_df['sellerbewertung'].unique()
print("These are the distinct values for the seller_bewertungen", distinct_seller_bewertungen)

# Count the occurrences of each distinct value in the 'sellerbewertung' column
seller_bewertungen_counts = sub_df['sellerbewertung'].value_counts(dropna=False)

# Print the occurrence counts for each distinct value
print("Occurrence counts for distinct seller_bewertungen:")
print(seller_bewertungen_counts)

# Filter the sub_df DataFrame to keep rows with NaN values in the 'sellerbewertung' column
nan_seller_bewertung_rows = sub_df[sub_df['sellerbewertung'].isnull()]

distinct_asins = nan_seller_bewertung_rows['asin'].unique()

# Print the distinct ASINs
print("Distinct ASINs for rows with NaN values in 'seller_bewertung':")
print(distinct_asins)

# Print a few rows with NaN values in the 'sellerbewertung' column
print("Some rows with NaN values in 'seller_bewertung':")
nan_seller_bewertung_rows.head() # You can adjust the number of rows displayed by changing the argument in the head() method

Length of updated sub-DataFrame: 42423
Length of excluded rows DataFrame: 1586819
Summarized length of DataFrames: 1629242
These are the distinct values for the seller_bewertungen ['    Neuer Verkäufer   ' '    New seller   ' nan]
Occurrence counts for distinct seller_bewertungen:
    Neuer Verkäufer       40498
NaN                        1397
    New seller              528
Name: sellerbewertung, dtype: int64
Distinct ASINs for rows with NaN values in 'seller_bewertung':
['B01ARNOGDG' 'B00NVMIO02' 'B000GISU1M']
Some rows with NaN values in 'seller_bewertung':

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
7298,348981,B01ARNOGDG,40.33,€,2023-03-22-16,2023-03-22 16:58:15.306193,Neu,\n,None,NaN,NaN,NaN,NaN,Amazon,0,t,6,f
7404,349087,B00NVMIO02,54.43,€,2023-03-22-16,2023-03-22 16:58:15.367814,Neu,\n,None,NaN,NaN,14. - 27. April,GRATIS,Amazon,0,t,19,f
16476,358159,B01ARNOGDG,40.33,€,2023-03-22-18,2023-03-22 18:03:17.193661,Neu,\n,None,NaN,NaN,NaN,NaN,Amazon,0,t,6,f
16583,358266,B00NVMIO02,54.43,€,2023-03-22-18,2023-03-22 18:03:17.255843,Neu,\n,None,NaN,NaN,14. - 27. April,GRATIS,Amazon,0,t,19,f
25742,367425,B01ARNOGDG,40.33,€,2023-03-22-19,2023-03-22 19:08:56.488732,Neu,\n,None,NaN,NaN,NaN,NaN,Amazon,0,t,6,f

In [18]:
sub_df.head()

,id,asin,price,currency,time,crawlTime,condition,sellerName,sellerId,sellerbewertung,seller_sterne,lieferdatum,lieferpreis,lieferung_durch,ranking,buyBoxWinner,numberOfSellers,trigByReactive
195,341878,B0001GRVJQ,125.36,€,2023-03-22-16,2023-03-22 16:54:19.633281,Neu,Maxitools,AAXD3KNJC39X,Neuer Verkäufer,NaN,30. März - 4. April,"7,30 €",Maxitools,7,f,7,f
221,341904,B002Y0SID0,41.00,€,2023-03-22-16,2023-03-22 16:54:19.643579,Neu,Okulus,A2TRHCK044P4M0,Neuer Verkäufer,NaN,29. März - 3. April,"7,30 €",Okulus,1,f,9,f
510,342193,B07KJWF5MB,350.93,€,2023-03-22-16,2023-03-22 16:54:19.742826,Neu,vbghfeuyrgjf,A81SVCVF8YUKG,Neuer Verkäufer,NaN,3. - 26. April,50€,vbghfeuyrgjf,3,f,3,f
512,342195,B09QG2V2XZ,171.60,€,2023-03-22-16,2023-03-22 16:54:19.743549,Neu,KITSTORE,A115RY0VCNBKHC,Neuer Verkäufer,NaN,31. März - 4. April,"9,78 €",KITSTORE,2,f,94,f
566,342249,B09BNWXDXH,140.38,€,2023-03-22-16,2023-03-22 16:54:19.763106,Neu,BeMyGame,A31R6JHAP6GDFP,Neuer Verkäufer,NaN,27. - 28. März,"3,99 €",BeMyGame,10,f,81,f